<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168394012379-lfuudq89dfc0mnsk4og0n5mi29o7ds41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168394012379-lfuudq89dfc0mnsk4og0n5mi29o7ds41</string>
	<key>API_KEY</key>
	<string>AIzaSyCTyoqvkyaABhtnPSbOV1f166HTeuSjWF0</string>
	<key>GCM_SENDER_ID</key>
	<string>168394012379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.na-cc.ios</string>
	<key>PROJECT_ID</key>
	<string>nacc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nacc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168394012379:ios:5ab28e2242b39994637efe</string>
	<key>DATABASE_URL</key>
	<string>https://nacc-app.firebaseio.com</string>
</dict>
</plist>