<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notification</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Meechu</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Meechu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Meechu would like to access your Apple Music for playing songs</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Meechu would like to access your calendar for setting events</string>
	<key>NSCameraUsageDescription</key>
	<string>Meechu would like to access your camera for image capture</string>
	<key>NSContactsUsageDescription</key>
	<string>Meechu would like to access your contact for finding friends</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Meechu would like to access your location for finding friends around you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Meechu would like to access your location for finding friends around you</string>
	<key>NSMotionUsageDescription</key>
	<string>Meechu would like to access your motion for more interactions</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Meechu would like to access your photo library for image storage</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Meechu would like to access your speech recognition</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
